@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    font-family: 'Netflix';
}

:root {
    --vermelho: #E50914;
    --preto: #141414;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--vermelho);
    font-family: 'Netflix', Arial, Times;
    font-size: 40px;
    margin-left: 10px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

div#play {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    z-index: 10;
    margin-top: -60px;
    background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,.8) 100%);
    background-size: cover;
    height: 100%; 
    width: 100%;
}

/* filme principal */

.filme-principal {
    color: white;
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)100%), url(/_imagens/house.jpg);
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 20px;
}

.titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin-left: 20px;
}

.botao {
    background-color: rgba(0,0,0,.5);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    margin-left: 20px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 5px;
}

.botao#botao2 {
    display: none;
}

.container {
    margin-left: 5px;
}

.filme-principal .container {
    width: 70%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes {
    margin-top: 5px;
    margin-left: 20px;
}

.listas {
    margin-left: 20px;
    margin-top: 10px;
}